@charset "utf-8";
/* CSS Document */
html {
  scroll-behavior: smooth;
}
/* Ändrar utseendet på scollbaren */ ::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  overflow: overlay;
}
p {
  color: white;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
}
::selection {
  background-color: #000000;
  color: white;
}
.header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: -138px;
  display: flex;
  width: 100%;
  height: auto;
  transition: 0.4s ease;
}
.name {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  margin: 0;
  height: 100%;
  width: 50%;
  z-index: 3;
}
h1 {
  font-size: 6.854em;
  font-weight: 400;
  line-height: 100%;
  margin: 32px 40px;
}
.logo {
  text-decoration: none;
  color: #000000;
  height: 100%;
}
.navbar {
  display: flex;
  height: 100px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  width: 50%;
  z-index: 3;
}
.menu {
  margin: 40px 32px 0 auto;
  list-style: none;
}
.menuli {
  display: inline-block;
  margin: 0 12px;
  border-radius: 4px;
  transition: 0.4s ease;
}
.menubtn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 4px 8px;
  text-align: center;
  font-weight: 500;
}
.menubtn:hover {
  font-weight: 700;
}
.menubtn:active {
  font-weight: 700;
}
/* Detta gör att inte länkarna hoppar runt när man hovrar */
.menubtn::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.hamburger {
  display: none;
}
.mobilemenu {
  display: block;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s ease;
}
.mobilenav {
	padding: 32px 0 0 0;
  clear: both;
}
.mobilenav ul {
  margin: 40px 16px 0 auto;
  list-style: none;
}
.mobilenav li {
  font-size: 6vw;
  text-align: end;
  margin: 40px;
  border-radius: 4px;
}
.mobilenav li a {
  color: black;
  text-decoration: none;
}
.whoami {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  scroll-margin-top: 80px;
  margin-bottom: 200px;
  overflow: visible;
}
.whotitle {
  display: block;
  margin: 0 0 24px 0;
}
.whotitlemobile {
  display: none;
}
.containerwhobild {
  display: block;
  position: relative;
  width: 35%;
  height: 1000px;
  top: 10%;
  right: 5%;
}
.whobild {
  z-index: 2;
  position: absolute;
  height: 1000px;
  width: 100%;
  background-image: url("img/cut-out-zamen.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}
.whobild-bg {
  z-index: -1;
  position: absolute;
  height: 1000px;
  width: 100%;
  background-image: url("img/zamen.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}
.whotext {
  display: block;
  z-index: -1;
  position: absolute;
  top: 10%;
  width: 50%;
  left: 5%;
}
h2 {
  font-size: 4.236em;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 100%;
  margin: 40px;
}
h3 {
  font-size: 2.618em;
  font-weight: 400;
  color: white;
  /*margin: 0 0 24px 0;*/
}
.proj1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  height: auto;
  background-color: #151515;
  padding: 100px 40px 100px;
}
.proj2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  height: auto;
  background-color: #2d1630;
  padding: 100px 40px 100px;
}
.proj3 {
  height: 1000px;
  background-color: #eeeeee;
  padding: 40px;
}
.proj4 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  height: auto;
  background-color: #3E3E3E;
  padding: 80px 40px;
}
.poddomslag {
  width: 100%;
}
.listen {
  width: 20vw;
  max-width: 340px;
}
.lumpvideo {
  width: 45vw;
  height: 28.125vw;
  margin-top: 40px;
}
.projtext {
  width: 38%;
  align-self: center;
}
.projimg {
  width: 55%;
  padding: 16px;
  align-self: center;
}
.projmid {
  max-width: 800px;
  padding: 16px;
  align-self: center;
  margin: 0 5% 0 0;
}
.projtext li {
  margin: 16px 0;
}
.projmid li {
  margin: 16px 0;
}
.whatcanido {
  scroll-margin-top: 138px;
}
.projtitle {
  margin: 0;
  color: white;
  font-size: 5.5vw;
}
.projsubtitle {
  margin: 32px 16px;
  font-size: 2.2vw;
  color: white;
}
.norgald {
  width: 50vw;
}
.whatintro {
  padding: 40px;
  text-align: center;
  margin-top: 100px;
  transition: 0.4s ease;
}
.whattext {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}
.contact {
  height: 600px;
  scroll-margin-top: 220px;
  width: 80%;
  margin: 50px auto;
}
.contact h2 {
  color: white;
  margin-bottom: 60px;
}
.contact img {
  height: 40px;
  margin-right: 16px;
}
.email {
  text-decoration: none;
  color: white;
}
.contact p {
  font-size: 20px;
}
.scrollaupp {
  position: fixed;
  cursor: default;
  height: 80px;
  width: 80px;
  bottom: -16px;
  right: 64px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease;
}
.projekt1 {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
  padding: 40px;
}
.projektrubrik {
  margin: 0 auto;
}
.projekttext {
  max-width: 600px;
  min-width: 400px;
}
.projektbild1 {
  max-width: 600px;
  min-width: 400px;
  height: inherit;
  background-color: #505050;
}
.form {
  width: 50%;
  float: right;
  text-align: center;
}
form {
  text-align: left;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 32px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
}
.input {
  display: block;
  width: 30%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  font-size: 18px;
  border: 2px solid white;
  background: transparent;
  color: white;
  transition: 200ms;
}
.input:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: 200ms;
}
label {
  color: white;
}
.contactleft {
  margin-top: 120px;
  width: 40%;
  float: left;
  text-align: center;
}
.error {
  display: block;
  font-size: 12px;
  color: white;
  visibility: hidden;
  margin: 16px auto;
}
.footer {
  height: auto;
  padding: 60px 5% 0 5%;
  margin-top: 150px;
  transition: 0.4s ease;
}
.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signature {
  width: 400px;
}
.footersocialicon {
  height: 30px;
  color: black;
  margin: 0 16px;
}
.copyright {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 36px;
  color: black;
  text-align: center;
}
/* mobile */
@media only screen and (max-width: 525px) {
  h1, h2, h3 {
    font-size: 2.618em;
    line-height: 120%;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 28px;
    right: 16px;
  }
  .hamburger img {
    display: block;
    height: 24px;
    width: 24px;
  }
  .header {
    top: -62px;
  }
  .whoami {
    top: 40px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .whotext {
    position: relative;
    width: 80%;
    left: auto;
    right: auto;
    margin-top: 40px;
  }
  .containerwhobild {
    width: 60%;
    order: -1;
    margin: 0 auto;
    top: auto;
    right: auto;
    height: 77.45vw;
  }
  .whobild {
    width: 60vw;
    height: 77.45vw;
  }
  .whobild-bg {
    width: 60vw;
    height: 77.45vw;
  }
  .name h1 {
    margin: 16px 16px;
  }
  .whotitle {
    display: none;
  }
  .proj1 {
    flex-direction: column;
    align-content: center;
    padding: 40px 10%;
  }
  .projtext {
    width: 100%;
    padding: 16px;
    align-self: center;
  }
  .projimg {
    width: 100%;
    padding: 16px;
    align-self: center;
  }
  .projtext li {
    margin: 8px 0;
  }
  .projtitle {
    margin: 0;
    font-size: 10vw;
  }
  .projsubtitle {
    margin: 16px 8px;
    font-size: 5vw;
  }
  .lumpvideo {
    width: 80vw;
    height: 45vw;
    margin-top: 16px;
  }
  .proj4 {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    height: auto;
    padding: 60px 40px;
  }
  .listen {
    width: 100%;
    margin: 0;
  }
  .poddomslag {
    width: 100%;
    margin: 0;
  }
  .projmid {
    margin: 0;
  }
  .proj2 {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 80px 40px 80px;
  }
  .norgald {
    width: 100%;
  }
  .contact {
    height: 840px;
  }
  .whotitlemobile {
    display: block;
    order: -2;
    z-index: -1;
    margin-bottom: 40px;
  }
  .footercontainer {
    flex-direction: column;
    gap: 40px;
  }
  .form {
    width: 100%;
    clear: both;
  }
  .contactleft {
    width: 100%;
    margin-top: 0;
  }
  .contact h2 {
    margin: 32px 0;
  }
  .signature {
    width: 90%;
  }
  .whatintro {
    padding: 32px 0;
    text-align: center;
    margin-top: 100px;
  }
  .whatintro h2 {
    margin: 0;
  }
}
/* mobile/tablet */
@media only screen and (max-width: 880px) and (min-width: 526px) {
  h1 {
    font-size: 4.236em;
    line-height: 120%;
  }
  h2, h3 {
    font-size: 2.618em;
    line-height: 120%;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .hamburger img {
    display: block;
    height: 40px;
    width: 40px;
  }
  .header {
    top: -100px;
  }
  .whoami {
    top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .whotext {
    position: relative;
    width: 80%;
    left: auto;
    right: auto;
    margin-top: 80px;
  }
  .containerwhobild {
    width: 60%;
    order: -1;
    margin: 0 auto;
    top: auto;
    right: auto;
    height: 77.45vw;
  }
  .whobild {
    width: 60vw;
    height: 77.45vw;
  }
  .whobild-bg {
    width: 60vw;
    height: 77.45vw;
  }
  .name h1 {
    margin: 20px 40px;
  }
  .whotitle {
    display: none;
  }
  .whatintro h2 {
    margin: 0;
  }
  .proj1 {
    flex-direction: column;
    align-content: center;
    padding: 80px 10%;
  }
  .projtext {
    width: 90%;
    padding: 24px;
    align-self: center;
  }
  .projimg {
    width: 90%;
    padding: 24px;
    align-self: center;
  }
  .projtext li {
    margin: 8px 0;
  }
  .projtitle {
    margin: 0;
    font-size: 8vw;
  }
  .proj2 {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 80px 40px 80px;
  }
  .norgald {
    width: 100%;
  }
  .proj4 {
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    height: auto;
    padding: 60px 40px;
  }
  .listen {
    width: 32vw;
    margin: 32px 0 0 16px;
  }
  .poddomslag {
    width: 100%;
    margin: 0;
  }
  .projmid {
    margin: 0;
  }
  .projsubtitle {
    margin: 16px 8px;
    font-size: 4vw;
  }
  .lumpvideo {
    width: 70vw;
    height: 39.375vw;
    margin-top: 16px;
  }
  .contact {
    height: 840px;
  }
  .whotitlemobile {
    display: block;
    order: -2;
    z-index: -1;
    margin-bottom: 40px;
  }
  .footercontainer {
    flex-direction: column;
    gap: 40px;
  }
  .form {
    width: 100%;
    clear: both;
  }
  .contactleft {
    width: 100%;
    margin-top: 0;
  }
}
/* medium size screen */
@media only screen and (max-width: 1200px) and (min-width: 881px) {
  h1 {
    font-size: 4.236em;
    line-height: 120%;
  }
  .navbar {
    width: 75%;
  }
  .menuli {
    margin: 0;
  }
  .header {
    top: -100px;
  }
  .containerwhobild {
    top: 160px;
  }
  .whoami {
    top: -40px;
  }
  .name h1 {
    margin: 20px 40px;
  }
}