@charset "utf-8";
/* CSS Document */
/*html {
  scroll-behavior: smooth;
}*/
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    -webkit-border-radius: 7px;
border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: #2e2e2e;
	    overflow: overlay;
}
p {
  color: white;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin: 0;
}
::selection{
	background-color: #e37c2d;
}


.header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -138px;
  display: flex;
  width: 100%;
	height: 310px;
}
.name {
	  position: -webkit-sticky; /* Safari */
  position: sticky;
	display: absolute;
  top: -138px;
  margin: 0;
  height: 100%;
  width: 50%;
	  z-index: 3;
}
h1 {
  font-size: 6.854em;
  font-weight: 400;
  line-height: 100%;
  margin: 32px 40px;
}
.logo {
  text-decoration: none;
  color: #000000;
}
.navbar {
  display: flex;
  height: 100px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  width: 45%;
  z-index: 3;
}
.menu {
  margin: 40px 32px 0 auto;
  list-style: none;
}
.menuli {
  display: inline-block;
	margin: 0 12px;
	border-radius: 4px;
}
.menubtn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 4px 8px;
  text-align: center;
	font-weight: 500;
}
.menubtn:hover {
  font-weight: 700;
}
.menubtn:active {
  font-weight: 700;
}
.menubtn::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
	    outline: none;
	cursor: pointer;
}











.whoami {
  display: flex;
	position: relative;
  justify-content: flex-end;
	align-items: center;
  width: 100%;
  scroll-margin-top: 40px;
	margin-bottom: 200px;
  overflow: visible;
	
}
.containerwhobild {
  display: block;
  position: relative;
  width: 28%;
height: 1000px;
  top: 10%;
	right: 150px;
}
.whobild {
  z-index: 2;
  position: absolute;
  height: 1000px;
  width: 100%;
  background-image: url("img/cut-out-zamen.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}
.whobild-bg {
  z-index: -1;
  position: absolute;
  height: 1000px;
  width: 100%;
  background-image: url("img/zamen.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
}
.whotext {
  display: block;
	z-index: -1;
	position: absolute;
	top: 10%;
  width: 50%;
	left: 150px;

}








h2 {
  font-size: 4.236em;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 100%;
  margin: 40px;
}
h3 {
  font-size: 2.618em;
  font-weight: 400;
  color: white;
	margin: 0 0 24px 0;
}


.proj1{
	height: 1000px;
	background-color: #151515;
	padding: 40px;
	
}
.proj2{

	height: 1000px;
	background-color: #9F4647;
		padding: 40px;
}
.proj3{

	height: 1000px;
	background-color: #eeeeee;
		padding: 40px;
}
.proj4{

	height: 1000px;
	background-color: #646464;
		padding: 40px;
}

.whatcanido{
	  scroll-margin-top: 138px;
}
.projtitle{
	margin: 0;
	color: white;
}



.whatintro {
  padding: 40px;
  text-align: center;
	margin-top: 100px;
}

.whattext {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}
.contact{
	height: 600px;
	  scroll-margin-top: 0px;
	width: 80%;
	margin: 50px auto;
}
.email{
	text-decoration: none;
	color: white;
}

.scrollaupp{
	position: fixed;
	cursor: default;
	height: 80px;
	width: 80px;
	bottom: -16px;
	right: 64px;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease;
}
.projekt1{
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 40px;
	padding: 40px;
}
.projektrubrik{
	margin: 0 auto;
}
.projekttext{
	max-width: 600px;
	min-width: 400px;
}
.projektbild1{
		max-width: 600px;
	min-width: 400px;
	height: inherit;
	background-color: #505050;
}





.footer {
	height: 180px;
	  padding: 60px 200px 0 100px;
	margin-top: 150px;
}
.footercontainer{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.signature{
max-width: 780px;
	min-width: 500px;
}
.footesocial{
}
.footersocialicon{
	height: 30px;
	color: black;
	margin: 0 20px;
}

.copyright{
	font-size: 0.8em;
	font-weight: 300;
	margin-top: 36px;
	color: black;
	text-align: center;
}





